@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Kayne<br />
    St. Libory, Illinois<br />
    <abbr title="Phone">P:</abbr>
    309-262-7807
</address>

